@media (max-width: 500px) {
  .recipe__details {
    padding: 6rem 2rem 2rem;
  }

  .recipe__info {
    margin-right: 2rem !important;
  }

  .recipe__ingredients {
    padding: 2rem 5rem;
    line-height: 1.3;
  }
}
